.container {
  margin: 0 auto;
  max-width: 400px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.weknow {
  text-align: center
}

.weknow2 {
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 500px;
}


.fakeunder {
  background-color: white;
  height: 55px;
}
