.root {
  background-color: white;
}

.fakeunder {
  background-color: white;
  height: 55px;
}

.container {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  padding: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  color: black;
}

.gameStuff {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: .8;
  min-width: 100px;
  padding-right: 10px;
}

.gameName2 {
  font-weight: 300;
  font-size: 1.5em;
  padding-right: 20px;
  opacity: 0.5;
  cursor: pointer;
  color: black;
}

.gameName3 {
  font-weight: 300;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.gameName2:hover {
    opacity: 1;
}

.games {
  min-width: 320px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
}

.gameRow {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
}

.partyDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.3;
  min-width: 50px;
}

.gameName {
  font-weight: 600;
}

.gameStuff {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: .8;
  min-width: 100px;
  padding-right: 10px;
}

.timeDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.7;
  min-width: 50px;
}

.gameSize {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.5;
}

.gameMoney2 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.4;
  min-width: 25px;
  padding-right: 10px;
}

.gameMoney {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 0.25;
  min-width: 25px;
}

.gameRow:hover {
  background-color: rgb(248,248,248);
}

.candidateBoxBottom {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  width: 100%;
  padding: 10px;
}

.candidateImage {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.all {
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
}

.candidateBoxTitle {
  padding: 10px;
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  flex: 1;
}

.candidateMoney {
  padding-right: 10px;
  font-size: 1.25em;
  font-weight: 300;
  flex: 0.3;
  min-width: 75px;
}

.candidateScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  text-align: right;
  font-weight: 300;
  flex: 0.3;
}

.candidatekey {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.candidateKeyTitle {
  font-size: .75em;
  text-align: left;
  flex: 1;
}

.fifty {
  width: 70px;
}

.candidateTitleMPE {
  font-size: .75em;
  text-align: left;
  padding-right: 10px;
  flex: 0.3;
  min-width: 75px;
}

.candidateKeyScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .75em;
  text-align: right;
  flex: 0.3;
}

@media screen and (max-width: 580px) {
  .candidateMoney {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1em;
    font-weight: 300;
    flex: 0.4;
    min-width: 75px;
  }

  .candidateScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: right;
    font-weight: 300;
    flex: 0.4;
  }

  .candidateBoxTitle {
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    flex: 1;
  }

  .candidateImage {
    width: 40px;
    height: 40px;
    border-radius: 50%
  }

  .gameStuff {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 100px;
  }

  .candidateTitleMPE {
    font-size: .75em;
    text-align: left;
    padding-right: 10px;
    flex: 0.4;
    min-width: 75px;
  }

  .candidateKeyScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .75em;
    text-align: right;
    flex: 0.4;
  }
}
