.container {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column-reverse;
}

.container2 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.container3 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.container4 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameandinfo{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.candidateImage {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.root {
  background-color: white;
}

.root3 {
  background-color: rgb(255,255,255);
}

.games {
  min-width: 320px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
}

.gameUnderText {
  text-transform: uppercase;
  font-size: .75em;
}

.gameUnderPadding {
  width: 10px;
}

.game {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.gameTitle {
  font-size: 1.5em;
  font-weight: 300;
  flex: 1;
}

.gameTitle b {
  font-weight: 500;
}

.top {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.top2 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

.selectACandidate {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
}

.top3 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.candidateBox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
}

.candidateBoxDark {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
}

.candidateBoxBottom {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
}

.candidatekey {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.candidateBoxBottomDark {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;
  color: black;
  width: 100%;
  padding: 10px;
}

.submit {
  background-color: #ff4351;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  align-items: center;
}

.submitConfirm {
  background-color: #00cc66;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  align-items: center;
}

.submitOpac {
  background-color: #ff4351;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  opacity: 0.5;
}

.submitText {
  font-weight: 600;
}

.gameDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex: 1;
}

.candidateBox:hover {
  background-color: rgb(248, 248, 248);
}

.candidateBoxBottom:hover {
  background-color: rgb(248, 248, 248);
}

.candidateBoxTitle {
  padding: 10px;
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  flex: 1;
}

.candidateKeyTitle {
  font-size: .75em;
  text-align: left;
  flex: 1;
}

.candidateTitleMPE {
  font-size: .75em;
  text-align: left;
  padding-right: 10px;
  flex: 0.2;
  min-width: 75px;
}

.fifty {
  width: 70px;
}

.candidateKeyScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .75em;
  text-align: right;
  flex: 0.2;
}

.candidateScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  text-align: right;
  font-weight: 300;
  flex: 0.2;
}

.candidateMoney {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 1.25em;
  font-weight: 300;
  flex: 0.2;
  min-width: 75px;
}

.gameOutcome {
}

.stateDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.entryDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.endDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0.1;
}

.gameName {
  font-weight: 600;
}

.gameName2 {
  font-weight: 300;
  font-size: 1.5em;
}

.gameUnderDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  padding-left: 1px;
}

.gameStuff {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gameMoney {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gameRow {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
}

.title {
  padding: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  color: black;
}

.gameRowColor {
  padding: 10px;
  background-color: #112633;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: white;
}

.gameRowColor2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(248, 248, 248);
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
}

.fakeunder {
  background-color: rgb(248, 248, 248);
  height: 55px;
}

.gameRowBottom {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
}

.gameRow:hover {
  background-color: rgb(248,248,248);
}

.gameRowBottom:hover {
  background-color: rgb(248,248,248);
}

.partyDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.3;
  min-width: 50px;
}

.timeDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.7;
  min-width: 50px;
}

.gameSize {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.5;
}

.gameMoney {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 0.25;
  min-width: 25px;
}

.gameMoney2 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.4;
  min-width: 25px;
  padding-right: 10px;
}

@media screen and (max-width: 580px) {

  .candidateTitleMPE {
    font-size: .75em;
    text-align: left;
    padding-right: 10px;
    flex: 0.3;
    min-width: 75px;
  }

  .fifty {
    width: 70px;
  }

  .candidateKeyScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .75em;
    text-align: right;
    flex: 0.25;
  }

  .candidateImage {
    width: 40px;
    height: 40px;
    border-radius: 50%
  }
  .candidateBoxTitle {
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    flex: 1;
  }

  .candidateScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: right;
    font-weight: 300;
    flex: 0.25;
  }

  .candidateMoney {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1em;
    font-weight: 300;
    flex: 0.3;
    min-width: 75px;
  }
}
