.container {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column-reverse;
  color: #1a1a1a;
}

.container2 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  color: #1a1a1a;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.container3 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color:  white;
}

.container22 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  height: 65px;
  color: #1a1a1a;
}

.container23 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color:  white;
}

.containername {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  color:  white;
}

.gamenametop {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
  margin-right: 10px;
}

.adtext {
  padding-top: 20px;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.adtext2 {
  font-weight: 300;
  padding-bottom: 20px;
  text-align: center;
}

.adtext3 {
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 1em;
  padding-right: 30px;
  text-align: center;
}

.adtext3O {
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 1em;
  padding-right: 30px;
  text-align: center;
  opacity: 0.5;
}

.root44 {
  background-color: rgb(246,248,248);
  color: #1a1a1a;
}

.rootdark {
  background-color: #112633;
  color: white;
  border-top-width: 1px;
  border-top-color: #102C3B;
  border-top-style: solid;
}

.container4 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;

  margin-bottom: 10px;
  color: #1a1a1a;
}

.container44 {
  margin: 0 auto;
  max-width: 930px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  color: #1a1a1a;
}

.gametitlediv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 1;
}

// .gameandinfo{
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   flex-direction: column;
//   flex: 1;
// }

.candidateImage {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.root {
  background-color: white;
  color: #1a1a1a;
}

.root3 {
  background-color: rgb(255,255,255);
  min-height: -webkit-calc(100vh - 55vh);
  min-height:    -moz-calc(100vh - 55vh);
  min-height:         calc(100vh - 55vh);
  color: #1a1a1a;
  padding-bottom: 20px;
}

.root4 {
  background-color: #ff4351;
}

.root4r {
  background-color: #ff4351;
}

.root4d {
  background-color: #63a9fc;
}

.root4b {
  background-color: #1a1a1a;
}

.games {
  min-width: 320px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
}

.gameUnderText {
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 10px;
}

// .gameUnderPadding {
//   width: 10px;
// }

.game {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.gameTitle {
  font-size: 1.5em;
  font-weight: 300;
  flex: 1;
}

.gameTitle b {
  font-weight: 500;
}

.top {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

// .top2 {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding-bottom: 10px;
//   padding-top: 50px;
// }

.selectACandidate {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
}

.top3 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.candidateBox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
  border-top-width: 1px;
  border-top-color: #e5e6e6;
  border-top-style: solid;
}

.candidateBoxDark {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;
  border-top-width: 1px;
  border-top-color: #e5e6e6;
  border-top-style: solid;
}

.candidateBoxBottom {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: black;
  width: 100%;
  padding: 10px;
}

.candidatekey {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.candidateBoxBottomDark {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;
  color: black;
  width: 100%;
  padding: 10px;
}

.submit {
  background-color: #ff4351;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-color: #ff4351;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.submitW {
  background-color: #fafafa;
  color: #ff4351;
  border-color: #ff4351;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.submitConfirm {
  background-color: #00cc66;
  color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  border-color: #00cc66;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  align-items: center;
}

.submitConfirmW {
  background-color: #fafafa;
  color: #00cc66;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  border-color: #00cc66;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  align-items: center;
}

.submitOpac {
  background-color: #ff4351;
  color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  border-color: #ff4351;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  align-items: center;
  opacity: 0.5;
}

.submitOpacW {
  background-color: #fafafa;
  color: #ff4351;
  cursor: pointer;
  border-color: #ff4351;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  align-items: center;
  opacity: 0.5;
}

.submitText {
  font-weight: 600;
}

.gameDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex: 1;
}

.candidateBox:hover {
  background-color: rgb(248, 248, 248);
}

.candidateBoxBottom:hover {
  background-color: rgb(248, 248, 248);
}

.candidateBoxTitle {
  padding: 10px;
  font-size: 1.25em;
  font-weight: 600;
  text-align: left;
  flex: 1;
}

.candidateKeyTitle {
  font-size: .75em;
  text-align: left;
  flex: 1;
}

.candidateTitleMPE {
  font-size: .75em;
  text-align: left;
  padding-right: 10px;
  flex: 0.2;
  min-width: 75px;
}

.fifty {
  width: 70px;
}

.candidateKeyScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .75em;
  text-align: right;
  flex: 0.2;
}

.candidateScore {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  text-align: right;
  font-weight: 300;
  flex: 0.2;
}

.candidateMoney {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 1.25em;
  font-weight: 300;
  flex: 0.2;
  min-width: 75px;
}

.gameOutcome {
}
.gameOutcomeBold {
  font-weight: bold;
}

// .stateDiv {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   flex-direction: column;
//   flex: 1;
// }

// .entryDiv {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   flex-direction: column;
//   flex: 0.6;
// }

// .endDiv {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   flex: 0.1;
// }

.gameName {
  letter-spacing: 1px;
  font-size: .75em;
}

.gameName2 {
  font-weight: 300;
  font-size: 1.5em;
}

.gameUnderDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  padding-left: 1px;
}

.gameStuff {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gameMoney {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gameRow {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #e5e6e6;
  border-bottom-style: solid;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
}

.title {
  padding: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  color: black;
}

.gameRowColor {
  padding: 10px;
  background-color: #102C3B;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: white;
}

.gameRowColor2 {
  background-color: white;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}

.fakeunder {
  background-color: rgb(248, 248, 248);
  height: 55px;
}

.gameRowBottom {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
}

.gameRow:hover {
  background-color: rgb(248,248,248);
}

.gameRowBottom:hover {
  background-color: rgb(248,248,248);
}

.partyDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  min-width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom-color: #e5e6e6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.timeDiv {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 50px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.gameSize {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 10px;
  margin-left: 10px;
}

.gameMoney {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 0.25;
  min-width: 25px;
}

.gameinfotop {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 10px;
}
.gameinfobottom {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 10px;
}

.gameMoney2 {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  min-width: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  border-bottom-color: #e5e6e6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media screen and (max-width: 580px) {

  .candidateTitleMPE {
    font-size: .75em;
    text-align: left;
    padding-right: 10px;
    flex: 0.3;
    min-width: 75px;
  }

  .fifty {
    width: 70px;
  }

  .candidateKeyScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .75em;
    text-align: right;
    flex: 0.25;
  }

  .candidateImage {
    width: 40px;
    height: 40px;
    border-radius: 50%
  }
  .candidateBoxTitle {
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    flex: 0.8;
  }

  .candidateScore {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: right;
    font-weight: 300;
    flex: 0.25;
  }
  .candidateKeyTitle {
    flex: 0.8;
  }

  .candidateMoney {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1em;
    font-weight: 300;
    flex: 0.3;
    min-width: 75px;
  }

  .container22 {
    flex-direction: column;
  }

  .adtext3 {
    font-size: .75em;
  }
  .adtext3O {
    font-size: .75em;
  }

  .gameSize {
    margin-left: 0;
  }
  .gameinfobottom {
    flex-direction: column;
  }

  .container2 {
    align-items: center;
  }

}
